.box {
    width: 400px;
    height : 300px;
    background: burlywood;
    margin: 20px auto 0 auto;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    position: absolute;
    width: 50px;
}

.hidden {
    display: none;
}