/* .box {
    width: 400px;
    height : 300px;
    background: burlywood;
    margin: 20px auto 0 auto;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.loader {
    position: relative;
    width: 50px;
    margin: 20px auto 0 auto;
}

.hidden {
    animation: disparition 1s;
    animation-fill-mode: forwards;
}
@keyframes disparition {
    100% {
        opacity:0;
        display: none;
    }
}